@model DrivingSchoolWebApp.Services.Models.School.SchoolViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">@Model.TradeMark</h5>
        <p class="card-text">Courses offered @Model.CoursesOfferedCount | Car Owned @Model.OwnedCarsCount | Hired trainers @Model.TrainersCount</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">ManagerName: @Model.Manager.FirstName  @Model.Manager.LastName</li>
        <li class="list-group-item">Address: @Model.OfficeAddress</li>
        <li class="list-group-item">@Model.Phone</li>
    </ul>
    <div class="card-body">
        <a asp-area="Administration" asp-controller="ManageSchools" asp-action="Edit" asp-route-id="@Model.Id" class="card-link">Edit school details</a>
        <a asp-area="Administration" asp-controller="ManageSchools" asp-action="Delete" asp-route-id="@Model.Id" class="card-link">Delete school</a>
    </div>
</div>
  
<div>
   <a asp-action="Index">Back to List</a>
</div>
