@model IPagedList<DrivingSchoolWebApp.Services.Models.Trainer.AvailableTrainerViewModel>

@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Mvc.Common;

@{
    ViewData["Title"] = "All";
}

<!-- Page Header -->
<div class="page-header-section">
    <div class="container">
        <div class="row">
            <div class="page-header-area">
                <div class="page-header-content">
                    <h2>All Available Trainers</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->


<div class="container d-flex justify-content-center w-75">
    <!-- output a paging control that lets the user navigation to the previous page, next page, etc -->
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("All", new { page }), new PagedListRenderOptions
    {
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" }})
</div>
<table class="table ">
    <thead class="thead-light">
        <tr class="row">

            <th class="col-md-1">#</th>
            <th class="col-md-1">Trainer Nickname</th>
            <th class="col-md-2">Trainer Address</th>
            <th class="col-md-2">Trainer Phone</th>
            <th class="col-md-6">Actions</th>
        </tr>
    </thead>
    <tbody>
        @for (var index = 0; index < Model.Count(); index++)
        {
            var trainer = Model[index];
            var realIndex = index + 1 + (Model.PageNumber - 1) * Model.PageSize;
            <tr>
                <td class="col-md-1">@realIndex</td>
                <td class="col-md-1">@trainer.UserNickname</td>
                <td class="col-md-2">@trainer.UserAddress</td>
                <td class="col-md-2">@trainer.UserPhoneNumber</td>
                <td class="col-md-6">
                    <a asp-area="" asp-controller="Courses" asp-action="Create" asp-route-trainerId="@trainer.Id" class="btn btn-info text-dark">Create Course with this trainer</a>
                    |
                    @*<a asp-area="SchoolManage" asp-controller="Trainers" asp-action="Edit" asp-route-id="@trainer.Id" class="btn btn-warning text-dark">Edit</a>
                        |*@
                    @*<a asp-area="SchoolManage" asp-controller="Trainers" asp-action="Delete" asp-route-id="@trainer.Id" class="btn btn-danger text-dark">Delete</a>
                        |*@
                    <a asp-area="" asp-controller="Lessons" asp-action="Index" asp-route-trainerId="@trainer.Id" class="btn btn-common text-dark">See schedule </a>

                </td>
            </tr>
        }
    </tbody>
</table>
