@model DrivingSchoolWebApp.Services.Models.Trainer.DetailsTrainerViewModel

@{
    ViewData["Title"] = "Details";
}

<!-- Page Header -->
<div class="page-header-section">
    <div class="container">
        <div class="row">
            <div class="page-header-area">
                <div class="page-header-content">
                    <h2>Trainer Details</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!--Form Container Start-->
<div class="container d-flex justify-content-center w-75">
    <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Trainer Nickname:@Model.UserNickname</h5>
                <p class="card-text">Trainer address: @Model.UserAddress</p>
                <p class="card-text">Trainer phone: @Model.UserPhoneNumber</p>
                <p class="card-text">School trademark: @Model.SchoolTradeMark</p>
                <p class="card-text"><small class="text-muted">Hire Date: @Model.HireDate</small></p>
                <p class="card-text"><small class="text-muted">Available from: @Model.AvailableLessonDay</small></p>
            </div>
            <div class="card-footer">
                <a asp-area="SchoolManage" asp-controller="Trainers" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning text-dark">Edit</a>
                <a asp-area="SchoolManage" asp-controller="Trainers" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger text-dark">Delete</a>
            </div>
        </div>
    </div>
    <div>
        <a asp-area="SchoolManage" asp-controller="Trainers" asp-action="All">Back to List</a>
    </div>
