@model DrivingSchoolWebApp.Services.Models.School.DetailsSchoolViewModel

@{
    ViewData["Title"] = "Details";
}

<!-- Page Header -->
<div class="page-header-section">
    <div class="container">
        <div class="row">
            <div class="page-header-area">
                <div class="page-header-content">
                    <h2>School details</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->

<div class="container d-flex justify-content-center w-75">

    <div class="col-lg-4 col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
               </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Manager Name: @Model.ManagerNickName</li>
                <li class="list-group-item">Trade Mark: @Model.TradeMark</li>
                <li class="list-group-item"><i class="far fa-building"></i> @Model.OfficeAddress</li>
                <li class="list-group-item"><i class="far fa-phone"></i> @Model.Phone</li>
            </ul>
            <div class="card-footer">
            </div>
        </div>
    </div>
    <!--cool-facts section start-->
    <section id="cool-facts" class="section">

        <div class="container">

            <div class="row">
                <div class="col-sm-6 col-md-3 col-lg-3">

                    <div class="fact-block clearfix wow fadeInUpQuick animated" data-wow-delay="0.3s" style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">
                        <div class="facts-item">
                            <i class="icon-trophy"></i>
                            <div class="fact-count">
                                <h3><span class="counter">@Model.CoursesOfferedCount</span>+</h3>
                                <h4>Offered courses</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3">

                    <div class="fact-block clearfix wow fadeInUpQuick animated" data-wow-delay="0.6s" style="visibility: visible;-webkit-animation-delay: 0.6s; -moz-animation-delay: 0.6s; animation-delay: 0.6s;">
                        <div class="facts-item">
                            <i class="icon-heart"></i>
                            <div class="fact-count">
                                <h3><span class="counter">@Model.OrdersCount</span>+</h3>
                                <h4>Happy clients</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3">

                    <div class="fact-block clearfix wow fadeInUpQuick animated" data-wow-delay="0.9s" style="visibility: visible;-webkit-animation-delay: 0.9s; -moz-animation-delay: 0.9s; animation-delay: 0.9s;">
                        <div class="facts-item">
                            <i class="icon-ghost"></i>
                            <div class="fact-count">
                                <h3><span class="counter">@Model.OwnedCarsCount</span>+</h3>
                                <h4>Owned cars</h4>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="col-sm-6 col-md-3 col-lg-3">

                    <div class="fact-block clearfix wow fadeInUpQuick animated" data-wow-delay="1.2s" style="visibility: visible;-webkit-animation-delay: 1.2s; -moz-animation-delay: 1.2s; animation-delay: 1.2s;">
                        <div class="facts-item">
                            <i class="icon-picture"></i>
                            <div class="fact-count">
                                <h3><span class="counter">1700</span>+</h3>
                                <h4>Exhibitions</h4>
                            </div>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </section>
    <!--cool-facts section end-->
</div>

<div>
    <a href="javascript:history.go(-1)">Return to previous page</a>
</div>
