@using DrivingSchoolWebApp.Data.Models.Enums
@model IEnumerable<DrivingSchoolWebApp.Services.Models.Course.AllCoursesViewModel>

@{
    ViewData["Title"] = "All";
}

<!-- Page Header -->
<div class="page-header-section">
    <div class="container">
        <div class="row">
            <div class="page-header-area">
                <div class="page-header-content">
                    <h2>All courses</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->

<div class="container-fluid">
    <div class="row mt-5 col-md-3">
        <form id="myForm" asp-controller="Courses" asp-action="All" method="post">
            <div class="form-row align-items-center">
                <div class="col-auto">
                    <select name="category" asp-items="Html.GetEnumSelectList<Category>()" onchange="this.form.submit">
                        <option selected="selected" value="">Please select</option>
                        <option value="All">All</option>
                    </select>
                </div>
            </div>
        </form>
    </div>

    <div class="row mt-5 mb-5" style="overflow-y: auto;">

        @foreach (var course in Model)
        {
            <div class="col-lg-4 col-md-4 mb-4">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <h4 class="card-title d-flex justify-content-between">
                           @course.SchoolTradeMark
                         </h4>
                        <p class="card-text">
                            Category: @course.Category.ToString()
                        </p>
                        <hr />
                        <p class="card-text">@course.Price</p>
                    </div>
                    <div class="card-footer justify-content-between">
                        <a class="btn btn-common" asp-area="" asp-controller="Courses" asp-action="Details" asp-route-id="@course.Id">Go to Course</a>
                        <form asp-area="" asp-controller="Orders" asp-action="Create" >
                            <input name="CourseId" type="hidden" value="@course.Id" />
                            <input type="submit" value="Order course" class="btn btn-success btn-lg" />
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>

</div>
@section Scripts{
    <script>
        $("select").change(function () {
            $("#myForm").submit();
        });
    </script>

}
