@model DrivingSchoolWebApp.Services.Models.Course.DetailsCourseViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Course Details</h2>

<div class="card-deck">
    <div class="card">
        <img class="card-img-top w-100" src="@Model.CarImageUrl" style="height: 250px; width: 100px" alt="@Model.CarMake _ @Model.CarCarModel">

        <div class="card-body">
            <h5 class="card-title">@Model.SchoolTradeMark _ @Model.Category</h5>
            <p class="card-text">Course Description: @Model.Description</p>
            <p class="card-text">Minimum lessons: @Model.MinimumLessonsCount</p>
            <p class="card-text">Price: @Model.Price</p>
            <h4 class="card-text">Rating: @Model.Rating</h4>

            <p class="card-text">Car info: @Model.CarMake - @Model.CarCarModel  - @Model.CarTransmission - @Model.CarVIN </p>
            <p class="card-text">Trainer: @Model.TrainerUserNickName</p>
            <p class="card-text"><small class="text-muted">Students participated @Model.StudentsCount</small></p>
            <p class="card-text"><small class="text-muted">Given Feedback Count @Model.AllFeedbacksCount</small></p>
            <p class="card-text"><small class="text-muted">Taken Exams @Model.ExamsTakenCount</small></p>
        </div>
        <div class="card-footer">
            <a asp-area="" asp-controller="Schools" asp-action="Details" asp-route-id="@Model.SchoolId" class="btn btn-warning text-dark">School Info</a>
            <form asp-area="" asp-controller="Orders" asp-action="Create" class="btn btn-success text-dark">
                <input name="CourseId" type="hidden" value="@Model.Id" />
                <input type="submit" value="Order course" />
            </form>
        </div>
    </div>
</div>

<div>
    <a href="javascript:history.go(-1)">Return to previous page</a>
</div>
