@model DrivingSchoolWebApp.Services.Models.Car.CarDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div class="card-deck">
    <div class="card">
            <img class="card-img-top w-100" src="@Model.ImageUrl" style="height: 250px; width: 100px" alt="@Model.Make _ @Model.Model">

            <div class="card-body">
                <h5 class="card-title">@Model.Make _ @Model.Model</h5>
                <p class="card-text">Car make: @Model.Make</p>
                <p class="card-text">Car model: @Model.Model</p>
                <p class="card-text">Car transmission: @Model.Transmission.ToString()</p>
                <p class="card-text"><small class="text-muted">@Model.Owner.TradeMark</small></p>
                <p class="card-text"><small class="text-muted">@Model.Owner.OfficeAddress</small></p>
                <p class="card-text"><small class="text-muted">@Model.Owner.Phone</small></p>
            </div>
            <div class="card-footer">
                <a asp-area="SchoolManage" asp-controller="Cars" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning text-dark">Edit</a>
                <a asp-area="SchoolManage" asp-controller="Cars" asp-action="ChangeOwner" asp-route-id="@Model.Id" class="btn btn-warning text-dark">Change Owner</a>
                <a asp-area="SchoolManage" asp-controller="Cars" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger text-dark">Delete</a>
            </div>
        </div>
    </div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
