@model IEnumerable<DrivingSchoolWebApp.Services.Models.Payment.AllPaymentsViewModel>

@{
    ViewData["Title"] = "All";
}

<h2>All payments</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentMethod)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentMethod)
                </td>
                <td>
                    <a asp-controller="Payments" asp-action="Details" asp-route-id="@item.Id"></a>
                </td>
            </tr>
        }
    </tbody>
</table>
